body {
    background: #f6f6f6;
    font-size: 100%;
    font-family: Century Gothic, sans-serif;
    -webkit-font-smoothing: antialiased;
}

div#multi_column {
    width: 100%;
    margin: 0px auto;
    -webkit-columns: 4 200px;
    -moz-columns: 4 200px;
    columns: 4 200px;
}

    div#multi_column > div {
        margin-bottom: 20px;
        padding: 16px;
        border: #000 1px solid;
        /* Chrome, Safari */
        -webkit-column-break-inside: avoid;
        /* Theoretically FF 20+ */
        page-break-inside: avoid;
        /* IE 11 */
        break-inside: avoid-column;
        display: table;

        border: 1px solid #dedede;
        border-top: 3px solid #f89846;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 0.2em;
    }

        div#multi_column > div:nth-child(2n+0) {
            border-top: 3px solid #e15340;
        }

        div#multi_column > div:nth-child(2n+1) {
            border-top: 3px solid #48b4ce;
        }